:root {
  --dkblue: #0d314b;
  --dgreen: #025159;
  --green: #038c8c;
  --lgreen: #03a696;
  --orange: #f28705;
  --color2: #dfe4e9;
  --montserrat: "Montserrat", sans-serif;
  --ysabeau: "Ysabeau Office", sans-serif;
  --ys_inf: "Ysabeau Infant", sans-serif;
  --raleway: "Raleway", sans-serif;
  /* --hind: 'Hind Siliguri', sans-serif; */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
body {
  background-color: #e9edf0;
  padding-bottom: 15px;
}

h3,
h4 {
  margin: 0;
}

ul {
  padding-inline-start: 10%;
}

p {
  margin-block-start: 2%;
  margin-block-end: 2%;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
