html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
body {
  background-color: #e9edf0;
  padding-bottom: 15px;
}

h3 {
  margin: 0;
}

ul {
  padding-inline-start: 10%;
}

p {
  margin-block-start: 2%;
  margin-block-end: 2%;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
